{% extends "base/taskmanage_base.html" %}
{% load static %}

{% block head %}
<!-- CSSの読み込み -->
<link rel="stylesheet" href="{% static 'taskmanage/css/calendar.css' %}?v=1.0" defer>
{% endblock %}

<!-- パーセントかっこの条件文はdjangoによるもの -->

{% block body %}
<!-- csrfトークン取得用。どこに置いてもよい -->
<meta name="csrf-token" content="{{ csrf_token }}">

<!-- react読み込み -->
<div id="react-root"
    data-year='{{ year }}'
    data-month='{{ month }}'>
</div>
<script src="{% static 'bundle.js' %}"></script>
{% endblock %}
