{% extends "base/taskmanage_base.html" %}
{% load static %}

{% block head %}
<!-- CSSの読み込み -->
<link rel="stylesheet" href="{% static 'taskmanage/css/time_record.css' %}?v={{ STATIC_VERSION }}">
{% endblock %}

<!-- パーセントかっこの条件文はdjangoによるもの -->

{% block body %}
<!-- csrfトークン取得用。どこに置いてもよい -->
<meta name="csrf-token" content="{{ csrf_token }}">

<!-- react読み込み -->
<div id="react-root"
    data-year='{{ year }}'
    data-month='{{ month }}'>
</div>

{{ day_info_and_records|json_script:"day-info" }}

<script src="{% static 'bundle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'taskmanage/js/time_record.js' %}?v={{ STATIC_VERSION }}" defer></script>

{% endblock %}