<!DOCTYPE html>
{% load static %}

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>タスク管理アプリ</title>
        <link rel="stylesheet" href="{% static 'taskmanage/css/title.css' %}?v=1.0" defer>
        <link rel="stylesheet" href="{% static 'taskmanage/css/setting_menu.css' %}?v=1.0" defer>
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1 id="bigTitle"><a href="{% url 'taskmanage:index' %}">タスク管理</a></h1>
        {% block body %}
        {% endblock %}
        <div id="menu-icon">☰</div>
        <div id="settings-panel">
            <h2>Contents</h2>
            <a href="{% url 'taskmanage:diary' %}">日記</a>
            <a href="{% url 'taskmanage:page_cal' %}">カレンダー</a>
        </div>
        <script src="{% static 'taskmanage/js/setting_menu.js' %}?v=1" defer></script>
    </body>
</html>