<!DOCTYPE html>
{% load static %}

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>Task Management</title>
        <link rel="stylesheet" href="{% static 'taskmanage/css/title.css' %}?v=1.0" defer>
        <link rel="stylesheet" href="{% static 'taskmanage/css/setting_menu.css' %}?v=1.0" defer>
        <!-- Noto Sans JP用 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <h1 id="bigTitle"><a href="{% url 'taskmanage:index' %}">Task Management</a></h1>
        {% block body %}
        {% endblock %}
        <div id="menu-icon">☰</div>
        <div id="settings-panel">
            <h2>Contents</h2>
            <a href="{% url 'taskmanage:page_cal' %}?view=time-record">勉強時間記録</a>
            <a href="{% url 'taskmanage:page_cal' %}">カレンダー</a>
        </div>
        <script src="{% static 'taskmanage/js/setting_menu.js' %}?v=1" defer></script>
    </body>
</html>