@charset "utf-8";

/* idは#をつける */
#bigTitle {
    display: flex;
    height: 50px;
    width: 700px;
    background-size: cover;
    background-color: #afeeee;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin: 5px;
}

p {
    margin: 5px;
}

.button {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}