@charset "utf-8";

/* ハンバーガーメニュー */
#menu-icon {
  position: fixed;
  top: 5px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;  /* 他の要素より前面に表示 */
  cursor: pointer;
  border-radius: 50%; /* 丸い形にする */
  padding: 10px; /* アイコンの周囲に余白を追加 */
  text-align: center; /* 文字を中央揃えにする */
  line-height: 1; /* 行間を調整して文字のバランスを整える */
}
  
  /* 設定画面 */
#settings-panel {
  font-family: 'Noto Sans JP', sans-serif;
  position: fixed;
  top: 0;
  left: -20%; /* 初期状態では隠す */
  width: 20%;
  height: 100%;
  background: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  transition: left 0.3s ease; /* スライドアニメーション */
  border-radius: 0;  /* 四隅の丸さ */
}
#settings-panel.active {
  left: 0; /* 表示時 */
}
#settings-panel h2 {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: #434343;
  letter-spacing: 2px;  /* 文字の間隔 */
  position: relative;  /* これがないと::afterがページ全体基準になる */
  margin-top: 70px;
  margin-left: 20px;
}
/* ::before(上線), ::after(下線)で疑似的に子要素を作成 */
#settings-panel h2::after {
  content: '';
  position: absolute;
  bottom: -0px; /* タイトルからの距離を調整 */
  left: -5px;
  width: 110%; /* 線の長さを調整 */
  height: 1px; /* 線の太さ */
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 10%, #f9f9f9 90%);
}
#settings-panel a {
  letter-spacing: 2px;  /* 文字の間隔*/
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  width: 280px;
  color: #666666;
  background-color: #eeeeee;
  text-decoration: none; /* リンクに出てくる下線を無効にする*/
  transition : all 0.5s ease 0s;
}
#settings-panel a:hover {
  color: #000000;
  background-color: #9c9c9c;
}