@charset "utf-8";

/* ハンバーガーメニュー */
#menu-icon {
  position: fixed;
  top: 5px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;  /* 他の要素より前面に表示 */
  cursor: pointer;
  border-radius: 50%; /* 丸い形にする */
  padding: 10px; /* アイコンの周囲に余白を追加 */
  text-align: center; /* 文字を中央揃えにする */
  line-height: 1; /* 行間を調整して文字のバランスを整える */
}
  
  /* 設定画面 */
#settings-panel {
  position: fixed;
  top: 0;
  left: -20%; /* 初期状態では隠す */
  width: 20%;
  height: 100%;
  background: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  transition: left 0.3s ease; /* スライドアニメーション */
  border-radius: 0;  /* 四隅の丸さ */
}
#settings-panel.active {
  left: 0; /* 表示時 */
}
#settings-panel h2 {
  margin-top: 70px;
  margin-left: 20px;
}
#settings-panel a {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}